.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: rgba(246, 246, 246, 0.935);
}

.number {
  color: aqua;
  font-size: 100px;
}

.button {
  width: 70px;
  height: 70px;
  font-size: 30px;
}
